@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-poppins:
        "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Primary */
    --color-primary-50: #f4faff;
    --color-primary-100: #cfebff;
    --color-primary-200: #91cefa;
    --color-primary-300: #64b9f6;
    --color-primary-400: #48acf4;
    --color-primary-500: #2c9def;
    --color-primary-600: #0c8ce9;
    --color-primary-700: #0078cf;

    /* Success */
    --color-success-50: #e4ffe9;
    --color-success-100: #d1ffda;
    --color-success-200: #b1f5bf;
    --color-success-300: #89e79c;
    --color-success-400: #70d583;
    --color-success-500: #4ec565;
    --color-success-600: #2fb248;
    --color-success-700: #299b3f;

    --color-warning-50: #fff7f0;
    --color-warning-100: #fff0e3;
    --color-warning-200: #ffe1c8;
    --color-warning-300: #ffca9f;
    --color-warning-400: #ffb87d;
    --color-warning-500: #ffa961;
    --color-warning-600: #f58d36;
    --color-warning-700: #df7c29;

    /* Danger */
    --color-danger-50: #fffbfb;
    --color-danger-100: #fef2f2;
    --color-danger-200: #ffebee;
    --color-danger-300: #ffccd2;
    --color-danger-400: #f49898;
    --color-danger-500: #eb6f70;
    --color-danger-600: #f64c4c;
    --color-danger-700: #ec2d30;

    --color-black: #000;
    --color-white: #fff;

    --color-neutral-700: #1F1F1F;
    --color-neutral-600: #4B4B4B;
    --color-neutral-500: #8E8E8E;
    --color-neutral-400: #CACACA;
    --color-neutral-300: #E1E1E1;
    --color-neutral-200: #EEEEEE;
    --color-neutral-100: #F5F5F5;
    --color-neutral-50:  #FAFAFA;



    /* Container */
    --container-padding: 1rem; /* default horizontal padding */
    --container-max-width-sm: 640px;
    --container-max-width-md: 768px;
    --container-max-width-lg: 1024px;
    --container-max-width-xl: 1280px;
    --container-max-width-2xl: 1536px;
}

html {
    font-family: var(--font-poppins);
    color: var(--color-neutral-700);
    font-size: 14.4px;
}

@media (max-width: 640px) {
    html {
        font-size: 13.5px;
    }
}